#Thplayer{
    position: fixed;
    bottom: 100px;
    left: -330px;
    display: inline-block;
    width: 350px;
    height: 100px;
    background: rgb(255,255,255);
    box-sizing: border-box;
    border: 1px solid #eee;
    box-shadow: 1px 1px 2px #ccc;
    z-index: 999;
    transition: left .5s;
}
#player-album{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    -webkit-animation: play 10s linear infinite;
    -moz-animation: play 10s linear infinite;
    animation: play 10s linear infinite;
}
#player-mask{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background: #101010;
    opacity: 0.4;
}
#Thplayer .bg{
    position: absolute;
    background: url(../img/audio_sprite.png) no-repeat 0 9999px;
    left: 35px;
    top: 35px;
}
@keyframes CDturn{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}
#Thplayer .play-bg {
    width: 32px;
    height: 32px;
    background-position: -68px -118px;
    cursor: pointer;
}
#Thplayer .play-bg:hover {
    background-position: -68px -167px;
}
#Thplayer .pause-bg {
    position: absolute;
    left: 42px;
    top: 42px;
    width: 20px;
    height: 20px;
    background-position: 0 -60px;
    cursor: pointer;
    display: none;
}
#Thplayer .pause-bg:hover {
    background-position: 0 -157px;
}
#player-info{
    font-size: 90%;
    position: absolute;
    width: 180px;
    height: 20px;
    overflow: hidden;
    left: 100px;
    top: 20px;
    color: #565454;
    font-family: "微软雅黑";
}
#player-info .title{
    float: left;
}
#player-info .and{
    margin: 0 5px;
}
#player-control{
    position: absolute;
    top: 50px;
    left: 105px;
    color: #75746e;
    font-size: 85%;
}
#player-control span{
    padding: 0 1px;
}
#player-menu{
    position: absolute;
    background-image: url(../img/ico.png);
    background-size: 40px;
    left: 250px;
    width: 40px;
    height: 40px;
    top: 25px;
    display: none;
}
#player-process{
    position: absolute;
    top: 80px;
    left: 100px;
    width: 200px;
    height: 2px;
    margin-top:0;
    background: #6f6e79;
}
#player-current{
    top: 80px;
    left: 100px;
    width: 100px;
    height: 2px;
    margin-top:0;
    background: #ed0b0d;
}
#player-process span {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3px;
    margin-right: -10px;
    height: 5px;
    width: 5px;
    border: 1px solid #272636;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer!important;
}
#player-list-icon{
    position: absolute;
    background: url(../img/audio_sprite.png) no-repeat 0 9999px;
    background-position: -58px -14px !important;
    width: 20px;
    height: 14px;
    left: 290px;
    top: 22px;
    cursor: pointer;
}
.player-listbox{
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 330px;
    height: 0;
    overflow: hidden;
    background-color: #ffffff;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
}
.player-listbox input{
    outline: none;
    width: 90%;
    height: 25px;
    margin-top: 20px;
}
#btnSearch {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 290px;
    top: 25px;
    cursor: pointer;
}
#UserList tr{
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 93%;
    color: #565454;
}
#UserList tr:hover{
    background: #eee;
    color: #ed0b0d;
    font-weight: bold;
    cursor: pointer;
}
#UserList::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
#UserList::-webkit-scrollbar-thumb {
    background-color: #ed0b0d;
}
#UserList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.playerbox-show{
    height: 400px;
}
#player-flex{
    position: absolute;
    left: 330px;
    height: 100px;
    top: 0px;
    width: 20px;
    background: #ed0b0d;
    cursor: pointer;
}
#player-show{
    width: 20px;
    height: 20px;
    top: 40px;
    position: absolute;
    background: transparent url(../img/2.png) repeat scroll 0% 0%;
}
